.SearchPanel {

  }
  
  .SearchPanel-button {

  }
  
  .SearchPanel-form {
    /* background-color: #555555;
    color:white;
    border:none;
    border-radius: 3px; */
  
  }

 .is-danger{
    border-color:red
  }